@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
}
header > span {
	-webkit-text-stroke: 2px white;
}

.autor {
	display: flex;
	justify-content: center;
}
.autor h3 {
	font-size: 1.15rem;
}
.autor h3 a {
	text-decoration: none;
	cursor: pointer;
	transition: text-decoration 0.25s;
}
.autor h3 a:hover {
	text-decoration: underline white;
}

@media (max-width: 500px) {
	header {
		font-size: 3rem;
	}
}
@media (max-width: 400px) {
	header {
		font-size: 2rem;
	}
}

.section1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rgb-value {
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0.75rem;
	color: white;
}
@media (max-width: 500px) {
	.rgb-value {
		font-size: 1.25rem;
	}
}

.score-box {
	position: inherit;
	color: white;
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	font-size: 1.5rem;
	padding: 0;
	width: 100%;
}
.score {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin: 25px;
}
.box {
	height: 350px;
	border: solid 3px black;
	color: black;
	cursor: pointer;
	transition: 0.25s;
	background-color: white;
}
.box:hover {
	transform: scale(0.98);
}

.section3 {
	margin: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.generate {
	width: 10rem;
	height: 3rem;
	font-size: 1.5rem;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
	border: 2px solid black;
	font-weight: 700;
	box-shadow: 0 0 15px white;
	transition: transform 0.25s, box-shadow 0.25s;
}
.generate:hover {
	transform: scale(0.98);
	box-shadow: 0 0 25px green;
}
.openSettingsBtn,
.closeSettingsBtn,
.submit {
	font-size: 1.5rem;
	background-color: white;
	border-radius: 10px;
	border: 2px solid black;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.submit {
	padding: 0.25rem 1rem;
}
.openSettingsBtn img,
.closeSettingsBtn img {
	width: 60%;
	height: 60%;
}
.openSettingsBtn {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.closeSettingsBtn {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}
.settings {
	position: absolute;
	width: 300px;
	left: -300px;
	top: 0;
	transition: 0.25s;
	background-image: url(img/woodbg.png);
	height: 100vh;
	color: white;
	border: 3px #231709 solid;
	display: flex;
	flex-direction: column;
}
.settings .container {
	padding: 0.5rem 0.25rem;
	margin: 0 0.25rem;
}
.container-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container table {
	width: 100%;
}
.container td:nth-child(3) {
	width: 1.75rem;
	text-align: center;
}
.settings h3 {
	font-size: 2rem;
}
.settings input[type="range"] {
	width: 100%;
}
.settings input[type="checkbox"] {
	width: 1.5rem;
	height: 1.5rem;
}
.settings select {
	width: 60%;
	height: 2rem;
	font-size: 1rem;
	font-weight: 700;
}
.settings label,
.settings span {
	font-size: 1.5rem;
}
