@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	color: white;
	height: 100vh;
}

header {
	display: block;
	text-align: center;
	height: 20%;
}

header .title-box span {
	font-size: max(2.5vw, 2rem);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

header .rgb-value {
	font-size: max(1.5vw, 1.25rem);
}

header .score {
	font-size: max(1.25vw, 1rem);
}

.boxes {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 90%;
	margin: 0 auto;
	gap: 0.5rem;
	height: 70%;
}
.boxes button {
	border: 1px solid white;
	background: none;
	border-radius: 5px;
	cursor: pointer;
	height: auto;

	transition: opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
		transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
		background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.boxes button:hover {
	transform: scale(0.95);
}


.button-generate {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 10%;
}
.button-generate .generate {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	color: white;
	background-color: #ef2f2f;
	border: 1px solid #9e1313;
	border-radius: 10px;
	cursor: pointer;

	transition: background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
		transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.button-generate .generate:hover {
	background-color: #ff0000;
	transform: scale(0.95);
}

.settings {
	position: absolute;
	width: 300px;
	left: -300px;
	top: 0;
	transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	background-image: url(img/woodbg.png);

	height: 100vh;
	color: white;
	border: 1px #231709 solid;
	display: flex;
	flex-direction: column;
	padding: 0 0.5rem;
	gap: 1rem;
}
.settings .settingsButton {
	position: absolute;
	top: 0;
	right: -25px;
	width: 25px;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 500;
	cursor: pointer;
	border: none;
}
.settings .settingsButton img {
	width: auto;
	height: 50%;
	object-fit: cover;

	transition: rotate 0.5s ease;
}

.settingsButtonActiveIMG {
	rotate: 180deg;
}

.settings .container {
	display: flex;
}

.settings h3 {
	text-align: center;
	font-weight: 300;
	font-size: 2.5rem;
}

.settings .container label {
	width: 50%;
	font-size: 1.25rem;
	margin: auto 0;
}
.container table {
	width: 100%;
}

.container td:nth-child(3),
.container td:nth-child(1) {
	width: 20%;
	text-align: center;
}
.container td:nth-child(2) {
	margin: auto 0;
}

.settings input[type="range"] {
	width: 100%;
}
.settings input[type="checkbox"] {
	width: 1.5rem;
	height: 1.5rem;
}
.settings select {
	width: 60%;
	height: 2rem;
	font-size: 1rem;
	font-weight: 700;
}
.settings span {
	font-size: 1.5rem;
}

.settings .github {
	position: absolute;
	bottom: 1rem;
}
.settings .github a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	color: white;
	text-decoration: none;
	font-size: 1.25rem;
}
.settings .github a:hover {
	text-decoration: underline;
}
.settings .github img {
	width: 50px;
}
